* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
} */

.todo-container .add-task input[type="text"] {
  width: 20rem;
  line-height: 2.5;
  border-radius: 12px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 18px;
}

.todo-container .parent-task {
  background-image: url("imgs/sticky-note.jpg");
  /* background: linear-gradient(-225deg, #a8bfff 0%, #884d80 100%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-container .header {
  color: #884d80;
  padding: 23px;
  margin-bottom: -21px;
}

.add-task {
  padding: 23px;
  display: flex;
  gap: 10px;
}

.todo-container span.plus {
  height: 43px;
  width: 43px;
  background-color: #fff;
  right: 12px;
  border-radius: 50%;
  line-height: 43px;
  text-align: center;
  color: #009688;
  cursor: pointer;
  font-size: 38px;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform 0.3s;
}

span.task-content {
  display: block;
  padding: 15px;
  color: black;
  font-size: 19px;
}

.fa-solid, .fas {
  font-weight: 900;
  color: rebeccapurple;
  cursor: pointer;
  margin-left: 8px;
}

/* .fa-solid.fa-trash {
  color: #962626;
} */


.todo-container .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dcdcdc;
  padding: 10px;
  margin-bottom: 2px;
  display: hidden;
}

.todo-container .actions {
  font-size: 23px;
}

.tasks-stats-count {
  font-size: 20px;
}

.tasks-stats-count span {
  color: #fff;
  padding: 1px 5px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #e91e63;
}

.tasks-stats {
  padding-left: 23px;
  padding-top: 23px;
}

@media screen and (min-width:600px) {
  body {
    background-color: rgb(229, 235, 235);
  }

  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .todo-container {
    border: 1px solid #884d80;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

  }

  .tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .tasks-stats {
    padding: 12px;
  }
}
